<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    {% if title %}
        <title>Flask Blog - {{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <!-- <div class="container"> -->
          <a class="navbar-brand mr-4" href="/">Заметки</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('news.news') }}">News Python</a>
              <a class="nav-item nav-link" href="/">Habr Python</a>
              <a class="nav-item nav-link" href="/">English</a>
              <a class="nav-item nav-link" href="/">Допы</a>
              <a class="nav-item nav-link" href="/about">About</a>
               <form class="form-inline my-2 my-lg-0" >
                <input class="form-control mr-sm-2" style="margin-left: 100px; width: 750px; " type="search" placeholder="Search" aria-label="Search" >
                <button class="btn btn-dark my-2 my-sm-0" style="margin-left: 10px;" type="submit" >Поиск</button>
              </form>
            </div>

             

            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('user.login') }}">Login</a>
              <a class="nav-item nav-link" href="{{ url_for('user.registration') }}">Register</a>
            </div>

          </div>
        <!-- </div> -->
      </nav>
    </header>

      <!-- <nav class="navbar navbar-expand-md navbar-dark bg-steel " style="margin-top: 0px;">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Заметки</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('news.news') }}">News Python</a>
              <a class="nav-item nav-link" href="/">Habr Python</a>
              <a class="nav-item nav-link" href="/">English</a>
              <a class="nav-item nav-link" href="/">Допы</a>
              <a class="nav-item nav-link" href="/about">About</a>
               <form class="form-inline my-2 my-lg-0" >
                <input class="form-control mr-sm-2" style="margin-left: 100px; width: 200px; " type="search" placeholder="Search" aria-label="Search" >
                <button class="btn btn-dark my-2 my-sm-0" style="margin-left: 10px;" type="submit" >Поиск</button>
              </form>
            </div>

             

            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('user.login') }}">Login</a>
              <a class="nav-item nav-link" href="/register">Register</a>
            </div>

          </div>
        </div>
      </nav> -->

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">

              {% include "_messages.html" %}

            {% block content_title %}

            {% endblock %}

          
            {% block content %}
          
            {% endblock %}

            
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>Информация.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
                <li class="list-group-item list-group-item-light">
                    <svg class="bi bi-brightness-high" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 11a3 3 0 100-6 3 3 0 000 6zm0 1a4 4 0 100-8 4 4 0 000 8zM8 0a.5.5 0 01.5.5v2a.5.5 0 01-1 0v-2A.5.5 0 018 0zm0 13a.5.5 0 01.5.5v2a.5.5 0 01-1 0v-2A.5.5 0 018 13zm8-5a.5.5 0 01-.5.5h-2a.5.5 0 010-1h2a.5.5 0 01.5.5zM3 8a.5.5 0 01-.5.5h-2a.5.5 0 010-1h2A.5.5 0 013 8zm10.657-5.657a.5.5 0 010 .707l-1.414 1.415a.5.5 0 11-.707-.708l1.414-1.414a.5.5 0 01.707 0zm-9.193 9.193a.5.5 0 010 .707L3.05 13.657a.5.5 0 01-.707-.707l1.414-1.414a.5.5 0 01.707 0zm9.193 2.121a.5.5 0 01-.707 0l-1.414-1.414a.5.5 0 01.707-.707l1.414 1.414a.5.5 0 010 .707zM4.464 4.465a.5.5 0 01-.707 0L2.343 3.05a.5.5 0 11.707-.707l1.414 1.414a.5.5 0 010 .708z" clip-rule="evenodd"/>
                    </svg>
                    <h5>Погода в Петрозаводске</h5>
                    {% if weather %}
                        Температура : {{weather.temp_C }} &#176; <br>
                        Ощущается как {{ weather.FeelsLikeC }}&#176;
                    {% else %}
                        Сервис погоды не доступен
                    {% endif %} 
                </li>
      
              </ul>
            </p>
      
          </div>
      </div>
      
      </div>
    </main>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>